<footer id="{{template_id}}">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <span
          class="copyright"
          data-field-string="copyright_text"
        >{{ copyright_text }}</span>
      </div>
      <div class="col-md-4">
        <ul class="list-inline social-buttons">
          <li>
            <a
              href="{{twitter_link}}"
              data-field-string="$empty"
              data-field-uri="{{twitter_link}}"
              data-toolbar-buttons="['anchor']"
            ><i class="fa fa-twitter"></i></a>
          </li>
          <li>
            <a
              href="{{facebook_link}}"
              data-field-string="$empty"
              data-field-uri="{{facebook_link}}"
              data-toolbar-buttons="['anchor']"
            ><i class="fa fa-facebook"></i></a>
          </li>
          <li>
            <a
              href="{{instagram_link}}"
              data-field-string="$empty"
              data-field-uri="{{instagram_link}}"
              data-toolbar-buttons="['anchor']"
            ><i class="fa fa-instagram"></i></a>
          </li>
          <li>
            <a
              href="{{linkedin_link}}"
              data-field-string="$empty"
              data-field-uri="{{linkedin_link}}"
              data-toolbar-buttons="['anchor']"
            ><i class="fa fa-linkedin"></i></a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="list-inline quicklinks">
          {% for item in quick_links %}
            <li>
              <a
                href="{{ item.link }}"
                data-field-string="quick_links[{{loop.index0}}].title"
                data-field-uri="quick_links[{{loop.index0}}].link"
                data-toolbar-buttons="['anchor']"
              >{{ item.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</footer>
