<!-- Header -->
<header id="{{template_id}}"
  data-field-string-file="image"
  data-placement="top"
  data-wrapper="true"
  data-inset="true"
  style="background-image: url({{ image }});text-align:{{ text_align }};">
  <div class="container">
    <div class="intro-text">
      {% if show_lead_in %}
      <div
        class="intro-lead-in"
        data-field-string="lead_in"
      >{{lead_in}}</div>
      {% endif %}
      {% if show_title %}
      <div
        class="intro-heading"
        data-field-string="heading"
      >{{ heading }}</div>
      {% endif %}
      {% if show_button %}
      <a
        href="{{ link }}"
        class="page-scroll btn btn-xl"
        data-field-string="link_text"
        data-field-string-format-uri="link"
        data-placement="bottom"
      >{{link_text}}</a>
      {% endif %}
    </div>
  </div>
</header>