<!-- Portfolio Grid Section -->
<section id="{{template_id}}" class="{{block_id}}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2
          class="section-heading"
          data-field-string="heading"
        >{{heading}}</h2>
        <h3
          class="section-subheading text-muted"
          data-field-string="sub_heading"
        >{{sub_heading}}</h3>
      </div>
    </div>
    <div class="row" data-field-array="items">
      {% for item in items %}
        <div class="col-md-4 col-sm-6 portfolio-item">
          <div data-field-array-item>
            <a href="#{{block_id}}-modal-{{loop.index}}" class="portfolio-link" data-toggle="modal">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img
                src="{{ item.image }}"
                class="img-responsive"
                alt="" />
            </a>
            <div class="portfolio-caption">
              <h4
                data-field-string="heading"
              >{{ item.client }}</h4>
              <p
                data-field-string="category"
                data-toolbar-buttons="['bold']"
                class="text-muted"
              >{{ item.category }}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  
  <!-- Portfolio Modals -->
  <!-- Use the modals below to showcase details about your portfolio projects! -->
  {% for item in items %}
  <!-- Portfolio Modal {{loop.index}} -->
  <div class="{{block_id}}-modal portfolio-modal modal fade" id="{{block_id}}-modal-{{loop.index}}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content" style="text-align: left">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
              <div class="rl">
              </div>
          </div>
        </div>
        <div class="container">
          <div class="modal-body">
            <!-- Project Details Go Here -->
            <h2
              data-field-string="items[{{loop.index0}}].title"
            >{{ item.title }}</h2>
            <p
              class="item-intro text-muted"
              data-field-string="items[{{loop.index0}}].summary"
            >{{ item.summary }}</p>
            <div class="row">
              <div class="col-md-8 col-lg-6">
                <div
                  data-field-text="items[{{loop.index0}}].body"
                >{{ item.body }}</div>
                <ul class="list-inline">
                  <li><strong>Date</strong>: {{ item.date }}</li>
                  <li><strong>Client</strong>: {{ item.client }}</li>
                  <li><strong>Category</strong>: {{ item.category }}</li>
                </ul>  
              </div>
              <div class="col-md-4 col-lg-6">
                <img
                  class="img-responsive mg-centered"
                  data-field-string-file="items[{{loop.index0}}].image"
                  src="{{ item.image }}"
                  alt="" />
              </div>
            </div>  
            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</section>

<style>
  /* Base */
  #{{template_id}}.{{block_id}} {
    color: {{ style.base.text_color }};
    {% if style.base.padding_top >= 0 %}
    padding-top: {{ style.base.padding_top }}px;
    {% endif %}
    {% if style.base.padding_bottom >= 0 %}
    padding-bottom: {{ style.base.padding_bottom }}px;
    {% endif %}
  }
  #{{template_id}}.{{block_id}} h1, #{{template_id}}.{{block_id}} h2, #{{template_id}}.{{block_id}} h3, #{{template_id}}.{{block_id}} h4, #{{template_id}}.{{block_id}} h5, #{{template_id}}.{{block_id}} h6 {
    color: {{ style.base.heading_text_color }};
  }
  #{{template_id}}.{{block_id}} p {
    color: {{ style.base.text_color }};
  }
  #{{template_id}}.{{block_id}} .text-muted {
    color: {{ style.base.muted_text_color }};
  }
  #{{template_id}}.{{block_id}} a {
    color: {{ style.base.link_text_color }};
  }
  #{{template_id}}.{{block_id}} a:hover,
  #{{template_id}}.{{block_id}} a:focus,
  #{{template_id}}.{{block_id}} a:active {
    color: {{ style.base.link_hover_text_color }};
  }
  #{{template_id}}.{{block_id}} .btn-primary,
  #{{template_id}}.{{block_id}} .btn-primary:hover,
  #{{template_id}}.{{block_id}} .btn-primary:focus,
  #{{template_id}}.{{block_id}} .btn-primary:active {
    background-color: {{ style.base.primary_bg_color }};
    border-color: {{ style.base.primary_bg_color }};
  }
  #{{template_id}}.{{block_id}} .text-primary {
    color: {{ style.base.primary_text_color }};
  }
  #{{template_id}}.{{block_id}} ::selection {
    color: {{ style.base.selection_text_color }};
    background: {{ style.base.selection_bg_color }};
  }
  
  /* Block */
  #{{template_id}}.{{block_id}} {
    background-color: {{ style.bg_color }};
  }
  #{{template_id}}.{{block_id}} .portfolio-item .portfolio-link .portfolio-hover {
    background-color: {{ style.hover_content_bg_color }};
  }
  #{{template_id}}.{{block_id}} .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
    color: {{ style.hover_content_icon_color }};
  }
  #{{template_id}}.{{block_id}} .portfolio-item .portfolio-caption {
    background-color: {{ style.caption_bg_color }};
  }
  #{{template_id}}.{{block_id}} .portfolio-item .portfolio-caption h4 {
    color: {{ style.caption_title_color }};
  }
  #{{template_id}}.{{block_id}} .portfolio-item .portfolio-caption p {
    color: {{ style.caption_text_color }};
  }
  .{{block_id}}-modal .modal-content {
    background-color: {{ style.item_bg_color }};
  }
  .{{block_id}}-modal .close-modal .lr,
  .{{block_id}}-modal .close-modal .lr .rl {
    background-color: {{ style.item_close_btn_color }};
  }
</style>