<!-- Portfolio Grid Section -->
<section id="{{template_id}}" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2
          class="section-heading"
          data-field-string="heading"
        >{{heading}}</h2>
        <h3
          class="section-subheading text-muted"
          data-field-string="sub_heading"
        >{{sub_heading}}</h3>
      </div>
    </div>
    <div class="row" data-field-array="items">
      {% for item in items %}
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a href="#portfolioModal{{loop.index}}" class="portfolio-link" data-toggle="modal">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fa fa-plus fa-3x"></i>
              </div>
            </div>
            <img
              src="{{ item.image }}"
              class="img-responsive"
              alt="" />
          </a>
          <div class="portfolio-caption">
            <h4
              data-field-string="heading"
            >{{ item.client }}</h4>
            <p
              data-field-string="category"
              data-toolbar-buttons="['bold']"
              class="text-muted">{{ item.category }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

<!-- Portfolio Modals -->
<!-- Use the modals below to showcase details about your portfolio projects! -->
{% for item in items %}
<!-- Portfolio Modal {{loop.index}} -->
<div class="ortfolio-modal modal ade" id="portfolioModal{{loop.index}}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" style="text-align: left">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
            <div class="rl">
            </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="ol-lg-8 ol-lg-offset-2">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2
                data-field-string="items[{{loop.index0}}].title"
              >{{ item.title }}</h2>
              <p
                class="item-intro text-muted"
                data-field-string="items[{{loop.index0}}].summary"
              >{{ item.summary }}</p>
              <div class="row">
                <div class="col-md-8 col-lg-6">
                  <div
                    data-field-text="items[{{loop.index0}}].body"
                  >{{ item.body }}</div>
                  <ul class="list-inline">
                    <li>Date: {{ item.date }}</li>
                    <li>Client: {{ item.client }}</li>
                    <li>Category: {{ item.category }}</li>
                  </ul>  
                </div>
                <div class="col-md-4 col-lg-6">
                  <img
                    class="img-responsive mg-centered"
                    data-field-string-file="items[{{loop.index0}}].image"
                    src="{{ item.image }}"
                    alt="" />
                </div>
              </div>  
              <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}