<style>
  #{{template_id}}.{{block_id}} {
    background-color: {{ style.base.bg_color }};
    color: {{ style.base.text_color }};
    {% if style.base.padding_top >= 0 %}
    padding-top: {{ style.base.padding_top }}px;
    {% endif %}
    {% if style.base.padding_bottom >= 0 %}
    padding-bottom: {{ style.base.padding_bottom }}px;
    {% endif %}
  }
  #{{template_id}}.{{block_id}} h1, #{{template_id}}.{{block_id}} h2, #{{template_id}}.{{block_id}} h3, #{{template_id}}.{{block_id}} h4, #{{template_id}}.{{block_id}} h5, #{{template_id}}.{{block_id}} h6 {
    color: {{ style.base.heading_text_color }};
  }
  #{{template_id}}.{{block_id}} p {
    color: {{ style.base.text_color }};
  }
  #{{template_id}}.{{block_id}} .text-muted {
    color: {{ style.base.muted_text_color }};
  }
  #{{template_id}}.{{block_id}} a {
    color: {{ style.base.link_text_color }};
  }
  #{{template_id}}.{{block_id}} a:hover,
  #{{template_id}}.{{block_id}} a:focus,
  #{{template_id}}.{{block_id}} a:active {
    color: {{ style.base.link_hover_text_color }};
  }
  #{{template_id}}.{{block_id}} .btn-primary,
  #{{template_id}}.{{block_id}} .btn-primary:hover,
  #{{template_id}}.{{block_id}} .btn-primary:focus,
  #{{template_id}}.{{block_id}} .btn-primary:active {
    background-color: {{ style.base.primary_bg_color }};
    border-color: {{ style.base.primary_bg_color }};
  }
  #{{template_id}}.{{block_id}} .text-primary {
    color: {{ style.base.primary_text_color }};
  }
  #{{template_id}}.{{block_id}} ::selection {
    color: {{ style.base.selection_text_color }};
    background: {{ style.base.selection_bg_color }};
  }
  
  
  #{{template_id}}.{{block_id}} {
    background-color: {{ style.bg_color }};
    {% if style.padding_top >= 0 %}
    padding-top: {{ style.padding_top }}px;
    {% endif %}
    {% if style.padding_bottom >= 0 %}
    padding-bottom: {{ style.padding_bottom }}px;
    {% endif %}
  }
  {% if style.icon_bg_color %}
  #{{template_id}}.{{block_id}} .text-primary { color: {{ style.icon_bg_color }}; }
  {% endif %}
  {% if style.icon_color %}
  #{{template_id}}.{{block_id}} .fa-inverse { color: {{ style.icon_color }}; }
  {% endif %}
</style>

<!-- Services Section -->
<section id="{{template_id}}" class="{{block_id}}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2
          class="section-heading"
          data-field-string="heading"
        >{{heading}}</h2>
        <h3
          class="section-subheading text-muted"
          data-field-string="sub_heading"
        >{{sub_heading}}</h3>
      </div>
    </div>
    <div class="row text-center" data-field-array="items">
      {% for item in items %}
        <div class="col-md-4" data-field-array-item>
          <span
            class="fa-stack fa-4x"
            data-field-string-ui-widget-icon="items[{{loop.index0}}].icon"
            data-placement="top"
          >
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-{{ item.icon }} fa-stack-1x fa-inverse"></i>
          </span>
          <h4
            class="service-heading"
            data-field-string="items[{{loop.index0}}].heading"
          >{{ item.heading }}</h4>
          <p
            class="text-muted"
            data-field-string="items[{{loop.index0}}].text"
            data-toolbar-buttons="['bold', 'italic', 'underline', 'anchor']"
          >{{ item.text }}</p>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
